.table-diagram{
    background: url('./image3.jpg') no-repeat;
    width: 250px;
    height: 265px;
    background-size: 250px 250px;
    background-position: 0px 13px;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;   
}
.table-diagram td{
    width: 35px;
}