.diagram {
    width: 20px;
    padding: 0;
    text-align: center;
    border: none;
    border-color: transparent;
    background: transparent;
}
.diagram:focus{
    outline: none;
}
.table-diagram{
    background: url('./image1.jpg') no-repeat;
    width: 241px;
    height: 278px;
    background-size: 230px 250px;
    background-position: 1px 20px;
}
.table-diagram td{
    width: 35px;
    height: 33px;
}